body {
  font-family: Sans-Serif;
}

#game-board, #scoreboard {
	height: 400px;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
}

.header {
	width: 100%;
	padding: 5px;
	background-color: #BCA9F5;
	font-weight: bold;
	font-size: 2rem;
}

#bonus {
	width: 100%;
	padding: 5px;
	background-color: #BCA9F5;
	font-size: 1.2rem;
}

#new-game {
	width: 80px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #2E2E2E;
	border-radius: 3px;
	border: none;

}

#scores {
	background-color: #A9F5E1;
	height: 200px;
}

#score-table tbody {
	height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

#score-table {
	width: 100%;
}

.game-button {
	width: 100px;
	height: 100px;
	text-align: center;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem 0 0 1rem;
}

.game-button:hover {
	cursor: pointer;
}

.content {
	overflow: auto;
}

.flex-container {
	/*width: 980px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
}

tbody, thead {
	display: block;
}

#game-board {
	width: 500px;
	background-color: #cdcdcd;
}

#scoreboard {
	width: 380px;
	background-color: #ababab;
}

.game-button[value="red"] {
	background-color: red;
}

.game-button[value="green"] {
	background-color: green;
}

.game-button[value="blue"] {
	background-color: blue;
}