body {
  font-family: Sans-Serif;
}

.game-board, .scoreboard {
	height: 400px;
	display: inline-block;
}

.game-board {
	width: 64%;
	background-color: #cdcdcd;
}

.scoreboard {
	width: 35%;
	background-color: #ababab;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}